/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* default colors */
    --white: #ffffff;
    --black: #000000;
    --red: #b90000;

    /* navigation colors*/
    --li-blue-back: #190dc27a;
    --hover-li-color: #b1d3fa;
    --mobile-li-hover-gray: #575757;
    --border-box-blue: #6f65ff5d;
    --mobile-transparent-back-blue: rgba(0, 8, 121, 0.5);
    --desktop-li-hover-blue: #001b36;
    --li-a-desktop-lightblue: #95c3f7;
    --desktop-nav-blue: rgba(0, 8, 121, 0.705);

    /* index */
    --h3-gold-yellow: #f5cc22;
    --box-shadow-green: #07bb165d; /* also used for the box shadow of the buttons */
    --index-back-dark-green: #004211; /* also used to background desktop nav */
    --alt-intro-back-green: #63db00;
    --intro-back-green: #12da00;
    --h3-green: #00b42a;

    /* Intro Scene Colors */
    --off-white: #e6e6e6;
    --intro-scene-darkgray: #333;
    --header-gray: #6d6d6d;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* input, button, textarea, select {

} */

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* Base Styles */
/* empty */

/* Index specific styles */
.h-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5rem;
    background-color: var(--index-back-dark-green);
    border-radius: 30px;
    width: 900px;
    padding: 2rem;
    justify-self: center;
    outline: 1px solid var(--h3-gold-yellow);
}

.h-container h1 {
    font-size: 3rem;
    color: var(--h3-gold-yellow);
    text-align: center;
    margin-bottom: 1rem;
}

.h-container h2 {
    font-size: 1.5rem;
    color: var(--h3-gold-yellow);
    text-align: center;
    margin-bottom: 2rem;
}

.main-content {
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 6rem;
    gap: 2rem;
}

.main-content h3 {
    font-size: 1.2rem;
    color: #f5cc22;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 575px;
    padding: 20px;
    border-radius: 50px;
    /* background-color: #00b42a; */
    background-color: #004211;
    box-shadow: 3px 3px 3px 3px #07bb165d;
}

/* Button Styling: Defines consistent styles for buttons, including colors, borders, padding, fonts, and hover effects. */
.btn-intro {
    background-color: var(--intro-back-green);
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    outline: 1px solid #000000;
    box-shadow: 5px 5px 5px 5px var(--box-shadow-green);
}

.btn-intro:hover {
    background-color: #5eff00;
}



.btn-alt-intro {
    background-color: var(--intro-back-green);
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    outline: 1px solid #000000;
    box-shadow: 5px 5px 5px 5px var(--box-shadow-green);
}

.btn-alt-intro:hover {
    background-color: #5eff00;
}



/* Footer styles */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}

/* navigation elements */
  /* sidebar for (Desktop) */
  .desktop-nav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #004211b4;
    color: white;
    padding-top: 16px;
    display: block;
    margin-left: 40px;
    z-index: 10;
}
  
.desktop-nav nav ul {
    list-style: none;
    padding-left: 0;
    
}
  
.desktop-nav nav ul li {
    margin: 2rem 0;
    box-shadow: 5px 5px 5px 5px var(--box-shadow-green);
    border-style: solid;
    border-color: #6f65ff5d;
    background-color: #190dc27a;
}
  
.desktop-nav nav ul li a {
    color: #95c3f7;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}
  
.desktop-nav nav ul li a:hover {
    background-color: #001b36;
    color: #b1d3fa;
    font-weight: bold;
}

/* mobile navigation */
/* Change the colors to deep darks of caves/halls */
  /* Top Nav (Mobile) */

  .mobile-nav {
    display: none;
    display: block;
    position: fixed;
    top: 0;
    left: -250px;  /* Off-screen initially */
    height: 100%;
    background-color: #004211b4;
    z-index: 10;
    transition: left 0.3s ease;
}

.mobile-nav.show {
    left: 0; /* Slide it into view */
    display: block; /* Ensure it's visible */
}

.sidebar-mobile {
    display: none; /* Hide top nav by default */
    color: var(--white);
    padding: 10px;
}
  
.sidebar-mobile .menu-toggle {
    font-size: 30px;
    background: none;
    color: var(--white);
    border: none;
    cursor: pointer;
}
  
.sidebar-mobile nav ul {
    list-style: none;
    padding-left: 0;
}
  
.sidebar-mobile nav ul li {
    margin: 10px 0;
}
  
.sidebar-mobile nav ul li a {
    color: var(--white);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}
  
.sidebar-mobile nav ul li a:hover {
    background-color: #575757;
}

/* CSS for the index page */

.index-body {
    background-color: var(--intro-scene-darkgray);
    line-height: 2;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.h-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    top: 5rem;
    background-color: var(--index-back-dark-green);
    border-radius: 30px;
}

.h-container h3 {
    color: var(--h3-gold-yellow);
    font-size: 1.4rem;
    text-align: center;
}

/* intro-scene CSS */

.intro-scene {
    display: flex;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 10rem;
    justify-content: flex-start;
    align-items: center;
    background-color: #333;
    color: #e6e6e6; /* White text color */
    text-align: center;
    flex-direction: column;
}

.intro-scene-header {
    background-color: #6d6d6d;
    padding: 1rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.alternate-intro-a {
    color: #e6e6e6;
    background-color: #000;
    width: 120px;
    padding: 1rem;
    border-radius: 25px;
    justify-self: center;
    align-self: center;
}

.alternate-intro-a:hover {
    background-color: #e6e6e6;
    color: #000;
    cursor: pointer;
}

.intro-scene-main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}

.intro-scene-footer {
    /* display: none; */
    display: flex;
    flex-direction: column;
}

/* intro-scene-alt CSS */

.intro-scene-alt {
    display: flex;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 10rem;
    justify-content: flex-start;
    align-items: center;
    background-color: #333;
    color: #e6e6e6; /* White text color */
    text-align: center;
    flex-direction: column;
}

.intro-scene-alt-header {
    background-color: #6d6d6d;
    padding: 1rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.alternate-intro-alt-a {
    color: #e6e6e6;
    background-color: #000;
    width: 120px;
    padding: 1rem;
    border-radius: 25px;
    justify-self: center;
    align-self: center;
}

.alternate-intro-alt-a:hover {
    background-color: #e6e6e6;
    color: #000;
    cursor: pointer;
}

.intro-scene-alt-main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}

.intro-scene-alt-footer {
    /* display: none; */
    display: flex;
    flex-direction: column;
}

/* 
    1520px adjust sizing, mainly of nav
    900px adjust sizing, mainly of nav, keep main content centered
 */

 /* Media queries for the navigation menu */

 /* MEDIA QUERIES 600->1200 */

 /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1450px) {
    .sidebar-mobile {
        display: none; /* Keep top nav on extra large devices */
        position: fixed; /* Fix top nav on the left side */
        top: 0;
        left: 0;
        height: 100%;
        width: 250px; /* Adjust width */
    }

    .desktop-nav {
        display: block; /* Hide the sidebar on extra large devices */
    }
}

@media only screen and (min-width: 1050px) and (max-width: 1450px) {
    .sidebar-mobile {
        display: none;
    }

    .desktop-nav {
        display: block; /* Hide the sidebar on large devices */
        position: fixed; /* Fix top nav on the left side */
        top: 0;
        left: 0;
        height: 100%;
        width: 170px; /* Adjust width */
    }

    /* Index page css */
    .h-container {
        width: 100%;
        padding: 1rem;
        margin: 0; /* Remove margin */
        border-radius: 0; /* Remove border radius */
        max-width: 750px;
        border-radius: 30px;
        word-break: break-word; /* Or 'break-all' */
        overflow-wrap: break-word;

    }

    /* Intro-scene */
    .intro-scene-main, .intro-scene-alt-main {
        max-width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 3rem;
        word-break: break-word; /* Or 'break-all' */
        overflow-wrap: break-word;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1050px) {
    .sidebar-mobile {
        display: block; /* Ensure top nav is displayed */
        position: fixed; /* Fix it at the top */
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .sidebar-mobile button {
        font-size: 30px;
        background: none;
        color: var(--h3-gold-yellow);
        border: none;
        cursor: pointer;
        position: absolute;
        top: 20px; /* Move the hamburger button down from the top */
        left: 10px;
        z-index: 100; /* Ensure it stays above the nav */
    }

    /* Move the entire ul down inside the sidebar-mobile */
    .sidebar-mobile nav ul {
        padding-top: 70px; /* Increase padding to move items down */
    }

    .desktop-nav {
        display: none; /* Ensure desktop navigation is hidden */
    }

    /* Index page css */
    .h-container {
        width: 100%;
        padding: 1rem;
        margin: 0; /* Remove margin */
        border-radius: 0; /* Remove border radius */
        max-width: 750px;
        border-radius: 30px;
    }

    .h-container h1 {
        font-size: 2.2rem; /* Adjust font size */
        margin-bottom: .5rem;
    }

    .h-container h2 {
        font-size: 1.6rem; /* Adjust font size */
        margin-bottom: 1rem;
    }

    .h-container h3 {
        font-size: 1.2rem; /* Adjust font size */
    }
} 

/* For screens 768px and below (portrait tablets and smaller devices) */
@media only screen and (max-width: 768px) {
    .sidebar-mobile {
        display: block; /* Ensure top nav is displayed */
        position: fixed; /* Fix it at the top */
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    /* Move the entire ul down inside the sidebar-mobile */
    .sidebar-mobile nav ul {
        padding-top: 70px; /* Increase padding to move items down */
    }

    /* Menu toggle button positioning */
    .sidebar-mobile .menu-toggle {
        font-size: 30px;
        background: none;
        color: var(--h3-gold-yellow);
        border: none;
        cursor: pointer;
        position: absolute;
        top: 20px; /* Move the hamburger button down from the top */
        left: 10px;
        z-index: 100; /* Ensure it stays above the nav */
    }

    .sidebar-mobile nav ul li {
        margin: 1.5rem 0; /* Add space between list items */
    }

    .desktop-nav {
        display: none;
    }

    /* Index page css */
    .h-container {
        width: 100%;
        padding: 1rem;
        margin: 0; /* Remove margin */
        border-radius: 0; /* Remove border radius */
        max-width: 600px;
        border-radius: 30px;
    }

    .h-container h1 {
        font-size: 2rem; /* Adjust font size */
        margin-bottom: .5rem;
    }

    .h-container h2 {
        font-size: 1.4rem; /* Adjust font size */
        margin-bottom: 1rem;
    }

    .h-container h3 {
        font-size: 1rem; /* Adjust font size */
    }

    .main-content {
        padding: 1rem; /* Add padding */
        width: 100%; /* Full width */
        max-width: 600px; /* Limit max width */
        margin: 0 auto; /* Center the content */
    }
}

/* For screens between 600px and 768px (portrait tablets and larger phones) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .sidebar-mobile {
        display: block; /* Ensure top nav is displayed */
        position: fixed; /* Fix it at the top */
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    
    /* Move the entire ul down inside the sidebar-mobile */
    .sidebar-mobile nav ul {
        padding-top: 70px; /* Increase padding to move items down */
    }

    /* Menu toggle button positioning */
    .sidebar-mobile .menu-toggle {
        font-size: 30px;
        background: none;
        color: white;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 20px; /* Move the hamburger button down from the top */
        left: 10px;
        z-index: 100; /* Ensure it stays above the nav */
    }

    .sidebar-mobile nav ul li {
        margin: 20px 0; /* Add space between list items */
    }
}

/* For screens 600px and below (extra small devices like phones) */
@media only screen and (max-width: 600px) {
    .sidebar-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        z-index: 1; /* Ensure sidebar has correct stacking context */
    }

    .sidebar-mobile nav ul {
        padding-top: 80px;
    }

    .sidebar-mobile .menu-toggle {
        font-size: 30px;
        background: none;
        color: white;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 10px;
        z-index: 100;
    }

    .desktop-nav {
        display: none;
    }

    .sidebar-mobile nav ul li {
        margin: 1rem 0;
        font-size: 1rem;
    }

    /* Index page css */
    .h-container {
        padding: 1rem;
        margin: 0; /* Remove margin */
        max-width: 450px;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 450px) {

    /* Index page css */
    .h-container {
        padding: 1rem;
        margin: 0; /* Remove margin */
        max-width: 325px;
        border-radius: 30px;
    }

    .h-container h1 {
        font-size: 1.5rem; /* Adjust font size */
        margin-bottom: .5rem;
    }

    .h-container h2 {
        font-size: 1.2rem; /* Adjust font size */
        margin-bottom: 1rem;
    }

    .h-container h3 {
        font-size: 0.9rem; /* Adjust font size */
    }
}